h1>Song Edit Form</h1>
<%= form_for @song do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name%><br>
  <%= f.label :artist %>
  <%= f.collection_radio_buttons :artist_id, @artists, :id, :name%><br>
  <%= f.label :genre %>
  <%= f.collection_radio_buttons :genre_id, @genres, :id, :name%><br>
  <br>
  <%= f.submit :'Update Song'%>
<% end %>
