<h1>Song New Form</h1>
<%= form_for @song do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name%>
  <%= f.check_box :artist_id%>
  <!-- <% @artists.each do |artist|%>
    <%= f.check_box :artist_id %>
  <% end %> -->
  <%= f.submit :'Create Song'%>
<% end %>
