<h1>Song New Form</h1>
<%= form_for @song do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name%><br>
  <%= f.collection_radio_buttons :artist_id, Artist.all, :id, :name%>
  <%= f.collection_radio_buttons :genre_id, Genre.all, :id, :name%>
  <br>
  <%= f.submit :'Create Song'%>
<% end %>
