<h1>Song New Form</h1>
<%= form_for @song do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name%><br>
  <%= f.collection_check_boxes :artist_ids, Artist.all, :id, :name%>
  <!-- <% @artists.each do |artist|%>
    <%= f.check_box :artist_id %>
  <% end %> -->
  <br>
  <%= f.submit :'Create Song'%>
<% end %>
